* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

/**********************Typographie*********************/

h1,
h2,
h3,
p {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

p {
  line-height: 1.25rem;
}

h2 {
  font-size: 2rem;
}
.menu-nav nav ul li a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/**********************Section Menu et logo*********************/

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-nav nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-nav nav ul li a {
  text-decoration: none;
  color: #3e294e;
}

.logo {
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 130px;
  height: 120px;
  /* border-radius: 45%; */
}

.logo h1 {
  margin: 10px 0 5px;
}

.menu-nav ul {
  margin-top: 45px;
  font-family: anybody;
  font-size: 1.75rem;
  margin-right: 60px;
}

.menu-nav li {
  display: inline;
  padding: 10px;
}

.menu-nav a {
  text-decoration: none;
  color: #3e294e;
  font-family: anybody;
}

.menu-nav a:hover {
  text-decoration: underline;
  color: #3e294e;
}

.menu-nav a.active {
  text-decoration: underline;
  color: #3e294e;
}

/**********************Section 1*********************************/
#Section_1 {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}
/************************Section 2**********************/
/************************Section 3**********************/
/************************Section **********************/

/************************Section footer******************************/

.container-footer {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  border-top: 2px solid #ccc;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p {
  color: gray;
  font-size: 1rem;
  font-family: anybody;
}

/* ****************************section carousel***********/
.container_carousel {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/****************************ligne_decorative*************/
.ligne_container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}
.ligne_decorative {
  content: "";
  display: block;
  height: 2px;
  background: linear-gradient(to right, #ff7e5f, #feb47b); /* Degradado */
  width: 1000px;
  margin: 20px 0;
}
/******************************mail form******************/
.container_form_mail {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.container_form_mail p {
  text-align: center;
  margin-top: 45px;
}
.mail_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 25px;
}
.mail textarea {
  width: 300px;
  height: 50px;
  padding: 5px;
}
.bouton button {
  width: 120px;
  height: 50px;
  padding: 5px;
  margin-bottom: 5px;
  margin-left: 40px;
}
/*************Ssection text bouton************************/
.container_text_bouton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 45px;
  background-color: gainsboro;
}
.container_text_bouton button {
  margin-left: 55px;
}

/*************Media Querys************************/

@media (min-width: 1200px) {
}
@media (max-width: 1199px) and (min-width: 961px) {
}

@media (max-width: 960px) and (min-width: 500px) {
}
