
@mixin btn_escalade_mixin($background_:linear-gradient(135deg, #2e8b57, #3cb371),
    $margin_: 0 0 10px 40px,
    $color_: #fff,
    $padding_: 15px 30px,
    $border-radius_: 50px,
    $font-size_: 1.2rem,
    $ont-weight_: bold,
        ){background: $background_;
    margin: $margin_;
    color: $color_;
    padding: $padding_;
    border-radius: $border-radius_;
    font-size: $font-size_;
    font-weight: $ont-weight_;}

@mixin btn_support_mixin(
    $background_:linear-gradient(135deg, #ff4500, #ff6347),
    $color_:white,
    $font-size_:1.1rem,
    $padding_:12px 28px,
    $border_:none,
    $border-radius_:50px,
    $font-weight_:bold
)
{
    background: $background_;
    color:$color_;
    font-size: $font-size_;
    padding: $padding_;
    border: $border_;
    border-radius: $border-radius_;
    font-weight: $font-weight_;
}