* {
  box-sizing: border-box;
  scrollbar-width: none;
}

body {
  background-color: #f6f6f6;
  margin: 0;
}

.menu-nav nav ul li a {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/**********************Section Menu et logo*********************/
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
}
.logo img {
  width: 130px;
  height: 120px;
  /* border-radius: 45%; */
}
.logo h1 {
  margin: 10px 0 5px;
}

.menu-nav ul {
  margin-top: 45px;
  font-family: anybody;
  font-size: 1.75rem;
  margin-right: 60px;
}
.menu-nav li {
  display: inline;
  padding: 10px;
}
.menu-nav a {
  text-decoration: none;
  color: #3e294e;
  font-family: "Bebas Neue", sans-serif;
}
.menu-nav a.active {
  text-decoration: underline;
  color: #3e294e;
}
.menu-nav a:hover {
  text-decoration: underline;
  color: #3e294e;
}
.menu-nav nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu-nav nav ul li a {
  text-decoration: none;
  color: #3e294e;
}

/**********************Section 1 carousel*********************************/